@inject HttpClient _httpClient


<ul class="list-unstyled">
    @foreach (var product in _products)
    {
        <li class="media my-3">
            <div class="media-img-wrapper m-2">
                <a href="#">
                    <img class="media-img" src="@product.ImageUrl" alt="@product.Title" />
                </a>
            </div>
            <div class="media-body">
                <a href="#">
                    <h4 class="mb-0">@product.Title</h4>
                </a>
                <p>@product.Description</p>
                <h5 class="price">$@product.Price</h5>
            </div>
        </li>
    }
</ul>

@code {
    private List<Product> _products = new();

    protected async override Task OnInitializedAsync()
    {
        var res = await _httpClient.GetFromJsonAsync<List<Product>>("api/Product");

        if (res is not null)
            _products = res;
    }
}
